<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viewgrouptest.mine"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.viewgrouptest.mine.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.viewgrouptest.mine.LinearActivityTest" android:label="Linear Activity">
            <intent-filter>
                <action android:name="com.viewgrouptest.mine.LinearActivityTest"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.viewgrouptest.mine.TableLayoutTest" android:label="Table Layout">
            <intent-filter>
                <action android:name="com.viewgrouptest.mine.TableLayoutTest"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.viewgrouptest.mine.ScrollViewTest"
            		android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.viewgrouptest.mine.ScrollViewTest"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.viewgrouptest.mine.RelativeLayoutTest"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.viewgrouptest.mine.RelativeLayoutTest"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>